<div id="mastercrafted-chat-message">
    <div>
        <img src="{{recipe.img}}" alt="">
        <h1>{{localize "cao-the-call-of-the-ancestors.craftDialog.crafted"}} <strong>{{rName}}</strong></h1>
    </div>
    <hr>
    <div>
        {{#each product.components}}
                <span><img src="{{this.img}}" alt="">{{this.documentLink}}</span>
        {{/each}}
    </div>
</div>