<div>
    {{!-- <div class="form-group">
        <label for="">{{localize "cao-the-call-of-the-ancestors.itemConfig.attributePath.label"}}</label>
        <input type="text" name="flags.cao-the-call-of-the-ancestors.attributePath" value="{{object.flags.cao-the-call-of-the-ancestors.attributePath}}">
    </div> --}}
    <div class="form-group">
        <label for="flags.cao-the-call-of-the-ancestors.tags">{{localize "cao-the-call-of-the-ancestors.itemConfig.tags.label"}}</label>
        <string-tags name="flags.cao-the-call-of-the-ancestors.tags" value="{{object.flags.cao-the-call-of-the-ancestors.tags}}"></string-tags>
        <p class="hint">{{localize "cao-the-call-of-the-ancestors.itemConfig.tags.notes"}}</p>
    </div>
</div>