<form action="submit">

    <div class="form-group">
        <label for="">{{localize "cao-the-call-of-the-ancestors.itemConfig.attributePath.label"}}</label>
        <input type="text" name="flags.cao-the-call-of-the-ancestors.attributePath" value="{{object.flags.cao-the-call-of-the-ancestors.attributePath}}">
    </div>

        <div class="form-group">
        <label for="">{{localize "cao-the-call-of-the-ancestors.itemConfig.tags.label"}}</label>
        <input type="text" name="flags.cao-the-call-of-the-ancestors.tags" value="{{object.flags.cao-the-call-of-the-ancestors.tags}}">
        <p class="notes">{{localize "cao-the-call-of-the-ancestors.itemConfig.tags.notes"}}</p>
    </div>

    <footer>
    <button type="submit"><i class="fas fa-check"></i> {{localize "cao-the-call-of-the-ancestors.recipeApp.editcreatebook.confirm"}}</button>
    </footer>
</form>