<div>
    {{!-- <div class="form-group">
        <label for="">{{localize "mastercrafted.itemConfig.attributePath.label"}}</label>
        <input type="text" name="flags.mastercrafted.attributePath" value="{{object.flags.mastercrafted.attributePath}}">
    </div> --}}
    <div class="form-group">
        <label for="flags.mastercrafted.tags">{{localize "mastercrafted.itemConfig.tags.label"}}</label>
        <string-tags name="flags.mastercrafted.tags" value="{{object.flags.mastercrafted.tags}}"></string-tags>
        <p class="hint">{{localize "mastercrafted.itemConfig.tags.notes"}}</p>
    </div>
</div>